@import url('https://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
	font-family: 'Abel', sans-serif;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
/*---------------------------- Header ----------------------*/
.header-section{
	background-image: url('images/background-header.jpg');
	height: 900px;
	background-size: contain;
	background-repeat: no-repeat;
}
.logoname{
	position: absolute;
    clear: both;
    margin-top: 1%;
}
.nav-bar-box{
    width: 100%;
    margin-left: 25%;
    margin-top: 3%;
    padding-left: 10%;
    padding-bottom: 5%;
}
.nav-bar--{
    display: inline-block;
    list-style-type: none;
    margin-left: 5%;
}
.menu-bars{
	clear: both;
    margin-left: 25%;
    position: absolute;
    margin-top: -1%;
}
.nav-an{
	color: black;
	font-family:'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-size: 900;
    text-decoration: none;
}
.nav-an:hover{
	color: #49c5b6;
}
.downarrow{
	position: absolute;
    margin-top: 30%;
    margin-left: 50%;
}
/*---------------------------- About Us Section ----------------------*/
.main-aboutus{
    display: flex;
    padding: 3%;
}
.img-aboutus{
	width: 100%;
}
.text-aboutus{
    width: 100%;
    padding-top: 4%;
    padding-left: 2%;
    margin-left: 5%;
}
.heading-about{
	font-size: 4em;
	margin-right: 5%;
	padding-top: 3%;
}
.para-aboutus{
	font-size: 21px;
    font-family: Source Sans Pro;
    padding-top: 10%;
}
.aboutus-span{
	color: #49c5b6;
}
.services{
	background-image: url(images/background-services.jpg);
}
/*---------------------------- Help Section ----------------------*/
.main-help{
	width: 100%;
	display: flex;
	padding: 5% 5%;
}
.text-help{
	width: 100%;
    text-align: center;
}
.heading-help{
	font-size: 3em;
    margin-left: 25%;
}
.span-help{
	color: #49c5b6;
}
.button-help{
	width: 100%;
}
.help-btn{
	margin-left: 20%;
    margin-top: 3px;
    font-size: 24px;
    padding: 9px 27px;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 15px 1px #9e9e9eb0;
}
.contact{
	background-image: url(images/background-contact.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 780px;
}
.form{
	margin: 7% 14%;
    float: right;
    width: 34%;
    height: 525px;
    background-color: white;
    box-shadow: 0px 0px 20px 15px #80808040;
}
.heading-form{
	text-align: center;
    font-size: 3em;
    padding: 5% 0;
}
.form-input{
	display: block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 8%;
    padding: 10px;
    font-size: 17px;
    background-color: #b2e5e03d;
    outline: none;
    border: 1px solid transparent;
}
.name{
	margin-top: 4%;
}
.form-submit{
	float: right;
	margin-right: 10%;
	font-size: 20px;
    padding: 9px 31px;
    color: white;
    background-color: #49c5b6;
    outline: none;
    border: 1px solid transparent;
}
.footer{
	display: flex;
	height: 100px;
}
.f-logo{
	padding-left: 2%;
}
.copyright{
	width: 60%;
	text-align: center;
}
.c-line{
	font-family: Source Sans Pro;
    font-weight: 100;
    margin-top: 25px;
    color: grey;
}
.social-buttons{
	float: right;
	width: 20%;
}
.fab{
	margin-top: 10px;
	margin-left: 5%;
	color: #49c5b6;
	font-size: 50px;
    width: 50px;
    height: 50px;
}